USE [master]
GO
/****** Object:  Database [Dropbox_Replica]    Script Date: 16/10/2022 1:38:46 PM ******/
CREATE DATABASE [Dropbox_Replica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dropbox_Replica', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Dropbox_Replica.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Dropbox_Replica_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Dropbox_Replica_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dropbox_Replica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dropbox_Replica]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 16/10/2022 1:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admins](
	[email] [varchar](30) NOT NULL,
	[name] [varchar](30) NULL,
	[password] [varchar](30) NULL,
	[Role] [varchar](30) NULL DEFAULT ('Admin'),
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Recents]    Script Date: 16/10/2022 1:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Recents](
	[recentID] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](30) NULL,
	[fileName] [varchar](100) NULL,
	[inFolder] [varchar](5) NULL,
	[parentName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[recentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SharedRecord]    Script Date: 16/10/2022 1:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SharedRecord](
	[sharedID] [int] IDENTITY(1,1) NOT NULL,
	[_to] [varchar](50) NULL,
	[_from] [varchar](50) NULL,
	[sharedData] [varchar](max) NULL,
	[date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[sharedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Starred]    Script Date: 16/10/2022 1:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Starred](
	[starredID] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](30) NULL,
	[fileName] [varchar](100) NULL,
	[inFolder] [varchar](5) NULL,
	[parentName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[starredID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/10/2022 1:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[email] [varchar](30) NOT NULL,
	[name] [varchar](30) NULL,
	[password] [varchar](30) NULL,
	[Role] [varchar](30) NULL DEFAULT ('User'),
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
